.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffdf5;
  color: #0a1a2f;
  text-align: center;
  padding: 5px 20px;
  min-height: 100vh;
  box-sizing: border-box;
  
}

.home-header {
  position: absolute;
  top: 10px;
  right: 20px;
  

  .header-icon {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
}

.photo-section {
    margin-top: -70px; 

  .profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.text-section {
  max-width: 1300px;
  padding: 0 10px;

  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 2px;

    .highlight {
      color: #30B0CA;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #1f3b5c;
    margin-bottom: px;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #2c3e50;
    margin-bottom: 20px;
  }
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: center;

  .btn {
    background-color: #30B0CA;
    color: #fff;
    font-size: 1.6rem;
    padding: 6px 12px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover {
      background-color: #1f94a7;
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(48, 176, 202, 0.3);
    }
  }
}

.hire-btn {
  background-color: #1f3b5c;
  color: #fff;

  &:hover {
    background-color: #304b6e;
  }
}


/* ===== Responsive Fixes ===== */
@media (max-width: 768px) {
  .home-header {
    .header-icon {
      width: 140px;
    }
  }

  .photo-section .profile-photo {
    width: 160px;
    height: 160px;
  }

  .text-section {
    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  .button-group {
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .btn {
      width: 90%;
      font-size: 1.3rem;
    }
  }
}
