.skills-wrapper {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  background-color: #fffdf5;
  min-height: 100vh;
  color: #000;

  h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
  }
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 130%;
  height: 100%;
}

/* Experience Section */
.experience-section {
  flex: 1;
  padding: 0 5px;
  height: 20px;
  margin-right: 450px;

  .experience-subtitle {
    font-size: 3.2rem;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
    
  }

  .timeline {
    position: relative;
    border-left: 6px solid #30B0CA;
    padding-left: 43px;
    left: 90px;
    margin-bottom: 20px;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 15px;
    

    .timeline-circle {
      position: absolute;
      left: -70px;
      top: 0;
      background: #fff;
      border: 6px solid #30B0CA;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.1rem;
      color: #30B0CA;

      .date {
        position: absolute;
        width: 320px;
        font-size: 1.9rem;
        color: #444;
        margin-right: 10px;
        text-align: left;
      }
    }

    .timeline-content {
      background: #ffffff;
      padding: 1px 10px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      text-align: left;

      h3 {
        font-size: 2.2rem;
        margin-bottom: 3px;
      }

      .company {
        font-size: 2rem;
        color: #555;
        margin-bottom: 3px;
      }

      .description {
        font-size: 1.95rem;
        color: #333;
        line-height: 1;
      }
    }
  }
}
.tech-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-pill {
  background-color: #e0f7fa;
  color: #007c91;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 1.85rem;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Canvas Tag Cloud */
.canvas-container {
  flex: 1;
  width: 800px;
  height: 600px;
  position: relative;
  margin-left: 300px;

  canvas {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    cursor: grab;
  }
}

/* Responsive fallback */
@media (max-width: 1024px) {
  .skills-content {
    flex-direction: column;
    align-items: center;
  }

  .experience-section {
    margin-left: 0;
    width: 100%;
  }

  .canvas-container {
    width: 100%;
    height: 500px;
  }
}
